@import 'firasans';
@import 'icons';

$bg: #274b22;

$sidebar_width: 12rem;
$article_width: 40rem;
$body_width: 52rem;


img {
	max-width: 100%;
}
a {
	color: #2ECC40;
	&.active {
		color: #ccc;
	}
	text-decoration: none;
}
h1, h2, strong {
	color: #111;
}

body {
	margin: 0px;
	font-family: 'fira_sansregular', sans-serif;
	line-height: 1.6;
	color: #222;
	background: #fafafa;
}

body > .normal {
	margin: auto;
	max-width: $body_width;
}

article {
	margin-left: $sidebar_width;
	max-width: $article_width;
	padding: 2rem;
}

.landing {
	.logobar {
		width: 100%;
		height: 12em;
		margin-top: 5vh;
		margin-bottom: 5vh;
		padding-top: 1em;
		padding-bottom: 1em;

		background-color: $bg;

		.logo {
			height: 100%;
			width: 100%;
			background-image: image('logo.svg');
			background-position: center center;
			background-size: auto 100%;
			background-repeat: no-repeat;
		}
	}

	text-align: center;

	.icon {
		width: 2em;
		height: 2em;
		margin-left: 2vw;
		margin-right: 2vw;
	}
}

.sidebar {
	margin: 0;
	padding: 0;
	width: $sidebar_width;
	background-color: $bg;
	position: fixed;
	height: 100%;
	overflow: auto;

	.logo {
		background-image: image('logo_square.svg');
		width: 100%;
		padding-top: 100%;
		background-size: cover;
	}

	nav {
		a {
			display: block;
			color: black;
			padding: 16px;
			text-decoration: none;
			background-color: #ddd;

			&.active {
				background-color: #4CAF50;
				color: white;
			}

			&:hover:not(.active) {
				background-color: #555;
				color: white;
			}
		}
	}
}

/* Sidebar links */

// On screens that are less than 700px wide, make the sidebar into a topbar
@media screen and (max-width: 700px) {
	.sidebar {
		width: 100%;
		height: auto;
		position: relative;

		nav {
			a {
				float: left;
			}
		}
	}

	article {
		margin-left: 0;
	}
}

// On screens that are less than 400px, display the bar vertically, instead of horizontally
@media screen and (max-width: 400px) {
	.sidebar {
		nav {
			a {
				text-align: center;
				float: none;
			}
		}
	}
}
