<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">
        <title>
            {{ .Page.Meta.Title }} - protopit
        </title>
        {{ .Site.CssTag }}
    </head>
    <body>
        {{ if ( eq .Page.Meta.Type "landing" ) }}
            {{ template "landing.html" . }}
        {{ else }}
            <aside class="sidebar">
                <div class="logo"></div>
                <nav>
                    <l url="">Home</l>
                    <l url="foo">Foo</a>
                    <l url="bar">Bar</a>
                </nav>
            </aside>
            <article>
                {{ if ( eq .Page.Meta.Type "normal" ) }}
                    {{ template "normal.html" . }}
                {{ else if ( eq .Page.Meta.Type "home" ) }}
                    {{ template "home.html" . }}
                {{ else }}
                    Page is {{ .Page.Meta.Type }}
                {{ end }}
            </article>
        {{ end }}
    </body>
</html>
