<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">
        <title>
            {{ .Page.Meta.Title }} - protopit
        </title>
        <link rel="icon" type="image/png" href="{{ mcall_url .Site "GetImageData" "icon.svg" "32x32.png" }}" />
        {{ .Site.CssTag }}
    </head>
    <body>
        {{ if ( eq .Page.Meta.Type "landing" ) }}
            {{ template "landing.html" . }}
        {{ else }}
            <aside class="sidebar">
                <div class="logo"></div>
                <nav>
                    <l name="home">{{ translate "Home" }}</l>
                    <l name="foo"></l>
                    <l name="bar"></l>
                    <l name="taglist"></l>
                </nav>
                <div class="languages">
                    <l name="{{ .Page.Name }}:en">EN</l>
                    <l name="{{ .Page.Name }}:bg">BG</l>
                </div>
                {{ template "upcoming_events.html" . }}
            </aside>
            <article>
                {{ if ( eq .Page.Meta.Type "home" ) }}
                    {{ template "home.html" . }}
                {{ else if ( eq .Page.Meta.Type "normal" ) }}
                    {{ template "normal.html" . }}
                {{ else if ( eq .Page.Meta.Type "taglist" ) }}
                    {{ template "taglist.html" . }}
                {{ else if ( eq .Page.Meta.Type "tag" ) }}
                    {{ template "tag.html" . }}
                {{ else }}
                    {{ err "unknown page type: %s" .Page.Meta.Type }}
                {{ end }}

                <footer>
                    {{ if .Page.Meta.HasTags }}
                        {{ translate "Tags" }}:
                        <span class="tags">
                        {{ range .Page.Meta.Tags }}
                            <l name="{{ . }}"></l>
                        {{ end }}
                        </span>
                    {{ end }}
                </footer>
            </article>
        {{ end }}
    </body>
</html>
