{{ $page := ( mcall .Site "Page" ( mcall . "Attr" "name" ) ) }}
{{ $v    := make }}

{{ if ( eq .Content "" ) }}
    {{ $_ := set $v "title" $page.Meta.Title }}
{{ else }}
    {{ $_ := set $v "title" .Content }}
{{ end }}

{{ $class := mcall . "Attr" "class" }}
{{ if ( eq $page.Url .Page.Url ) }}
    {{ $class = join " " $class "active" }}
{{ end }}
{{ $class = strip $class }}

{{ if ( not ( eq $class "" ) ) }}
    <a href="{{ $page.AbsUrl }}" class="{{ $class }}"><span class="link">{{ get $v "title" }}</span></a>
{{ else }}
    <a href="{{ $page.AbsUrl }}"><span class="link">{{ get $v "title" }}</span></a>
{{ end }}
