<div class="plink">
    {{ $name := ( mcall . "Attr" "name" ) }}
    {{ $page := ( mcall .Site "Page" $name ) }}
    <l name="{{ $name }}">
        <div class="thumb-box">
            {{ if not ( or (eq $page.Meta.Thumb "") (eq ( mcall . "Attr" "thumb" ) "no" ) ) }}
                <pic url="{{ $page.Meta.Thumb }}" size="500x100:crop"></pic>
            {{ end }}
        </div>
    </l>
    <l name="{{ $name }}"></l>
    {{ if not $page.Meta.Date.IsZero }}
        <div class="publish-date">
            {{ translate "Published on" }}
            <span class="publish-date">{{ tformat "date" $page.Meta.Date }}</span>
        </div>
    {{ end }}
    {{ if $page.Meta.EventData }}
        <div class="event-date">
            {{ if not (eq $page.Meta.EventData.HumanReadable "") }}
                <span class="human">{{ $page.Meta.EventData.HumanReadable}}</span>
            {{ end }}
            {{ if not (never $page.Meta.EventData.Next) }}
                <span class="next">
                    <span class="info">{{ translate "Next event: " }}</span>
                    {{ tformat "datetime" $page.Meta.EventData.Next }}
                </span>
            {{ end }}
        </div>
    {{ end }}
</div>
